<div id=row_{{cut.index}} data-file="0" data-ctoria-type="ALTERNATIVE_PAIRED" style="background-color: #fbfdff">
    <div class="row" style="border-left: 1px solid #c6c7d2;margin-left:0px">
        <div speaker-cut-id={{cut.index}} class="col-xs-2 col-md-1 speakertxt" style="padding-top: 5px">
            {{cut.index | speaker}}
        </div>
        <div class="col-xs-6 col-md-7" style="padding-left: 0px">
            <button id={{cut.index}}_pos_{{cut.arguments.pos}} data-cut-id={{cut.index}} data-selected-position="0"
                    class="btn placementbtn"
                    ng-click="fold(cut.index)">free alt {{cut.index}}>
            </button>
        </div>
        <div class="col-xs-1 col-md-1">
            <span class="linktext"><i
                    class="glyphicon glyphicon-link pairedlink" style="margin-top: 0px"></i></span>
        </div>
        <div class="col-xs-1 col-md-1" style="font-family: 'Ubuntu'">{{cut.arguments.pos | ordinal}}/{{cut.arguments.total}}</div>
        <div class="col-xs-1 col-md-1"><i class="fa fa-chevron-right caret-centre"></i></div>
        <div id=icon_{{cut.index}} class="col-xs-1 col-md-1">
            <button id=camera_{{cut.index}} db_id="0" ng-click="cameraToggle()" class="camerabtn">
                {{cut.options[0].sources[0].file | camera}}>
            </button>
        </div>
    </div>

    <!--<div class="row" style="top: -5px">
        <div class="col-xs-8"></div>
        <div class="col-xs-1">
            <span class="pull-left linktext"><i
                    class="glyphicon glyphicon-link pairedlink" style="margin-top: 0px"></i></span>
        </div>
        <div class="col-xs-3" style="font-family: 'Ubuntu'">{{cut.arguments.pos | ordinal}}/{{cut.arguments.total}}</div>
    </div>-->
</div>


<div id=collapse_{{cut.index}} collapse="true" class="row" style="padding-left: 0px">
    <button id={{cut.index}}_opt_{{option.position}} data-position='{{option.position}}'
            ng-click="optionClick(cut.index + '_opt_'+ option.position)"
            data-option-id='{{option.id}}' class="btn col-xs-10 optionbtn"
            ng-repeat="option in cut.options">
        {{option.line}}
    </button>
</div>
