<ctoria-control title={{title}} generated={{generated}} xmlns="http://www.w3.org/1999/html"></ctoria-control>

<div style="top:50px; position: absolute">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2  default-text"
             style="padding:30px;padding-bottom:20px;margin-top: 50px;font-size: 2.0rem">
        <div class="alert alert-danger headline" style="font-size: 2.6rem; text-align: center">Sorry, the server is full.</div>
            <div class="alert alert-warning" style="font-size: 2.6rem; text-align: center">We only have enough room for 200 manifestations of Jane at a time. Try again later.</div>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2  default-text"
             style="background-color: #ffffff; padding:30px;padding-bottom:20px;font-size: 2.0rem">

            <p class="headline">Sample Conversations</p>

            <p>For the impatient you see some examples of the conversations.
                You won't be able to create your own but film is normally a spectator sport anyway.</p>


            <div ng-controller="TabCtrl" style="margin-top: 20px">
                <tabset>
                    <tab heading="Old Films New Endings">
                        <youtube-video video-id="ofne_1"></youtube-video>
                        <youtube-video video-id="ofne_2"></youtube-video>
                        <youtube-video video-id="ofne_3"></youtube-video>
                    </tab>
                    <tab heading="Bedtime Stories">
                        <youtube-video video-id="bs_1"></youtube-video>
                        <youtube-video video-id="bs_2"></youtube-video>
                        <youtube-video video-id="bs_3"></youtube-video>
                    </tab>
                    <tab heading="Married Too Long">
                        <youtube-video video-id="mtl_1"></youtube-video>
                        <youtube-video video-id="mtl_2"></youtube-video>
                        <youtube-video video-id="mtl_3"></youtube-video>
                    </tab>
                    <tab heading="Sexual Conundrum">
                        <youtube-video video-id="sc_1"></youtube-video>
                        <youtube-video video-id="sc_2"></youtube-video>
                        <youtube-video video-id="sc_3"></youtube-video>
                    </tab>
                    <tab heading="Eat In Eat Out">
                        <youtube-video video-id="eieo_1"></youtube-video>
                        <youtube-video video-id="eieo_2"></youtube-video>
                        <youtube-video video-id="eieo_3"></youtube-video>
                    </tab>
                    <tab heading="Filmic Fantasies">
                        <youtube-video video-id="ff_1"></youtube-video>
                        <youtube-video video-id="ff_2"></youtube-video>
                        <youtube-video video-id="ff_3"></youtube-video>
                    </tab>
                </tabset>
                <!--<uib-tabset justified="true">
                   <uib-tab heading="Justified">Justified content</uib-tab>
                   <uib-tab heading="SJ">Short Labeled Justified content</uib-tab>
                  &lt;!&ndash; <uib-tab heading="Long Justified">Long Labeled Justified content</uib-tab>&ndash;&gt;
                </uib-tabset>-->
            </div>
            <!--<class="container">
                <h2>Dynamic Tabs</h2>
                <ul class="nav nav-tabs" id="youtube">
                    <li><a data-toggle="tab" data-target="ofne">Old Films New Endings</a></li>
                    <li><a show-tab="" data-target="bs">Bedtime Stories</a></li>
                    <li class="active"><a data-toggle="tab" data-target="#mtl">Married Too Long</a></li>
                    <li><a data-toggle="tab" data-target="sc">Sexual Conundrum</a></li>
                    <li><a data-toggle="tab" data-target="eieo">Eat In Eat Out</a></li>
                    <li><a data-toggle="tab" data-target="ff">Filmic Fantasies</a></li>
                </ul>

                <div class="tab-content">
                    <div id="ofne" class="tab-pane fade in active">
                        <h3>Old Films New Endings</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                    <div id="bs" class="tab-pane fade">
                        <h3>Bedtime Stories</h3>

                        <p>FUtball enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</p>
                    </div>
                    <div id="mtl" class="tab-pane fade">
                        <h3>Married Too Long</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam.</p>
                    </div>
                    <div id="sc" class="tab-pane fade">
                        <h3>Sexual Conundrum</h3>

                        <p>wanker flitman Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo.</p>
                    </div>
                    <div id="eieo" class="tab-pane fade">
                        <h3>Eat In Eat Out</h3>

                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo.</p>
                    </div>
                    <div id="ff" class="tab-pane fade">
                        <h3>Filmic Fantasies</h3>

                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                            explicabo.</p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>