<ctoria-control title={{title}} generated={{generated}} xmlns="http://www.w3.org/1999/html"></ctoria-control>

<div style="top:70px; position: absolute">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 default-text"
             style="background-color: #ffffff; padding:30px;margin-top: 50px;font-size: 2.0rem">
            <p class="headline" style="font-size: 2.2rem">Story</p>
            <p>'Jane' is a dialogue for two actors that you can change throughout while maintaining credible meaning. There is no definitive version, no directors cut.
                It is rather the sum of its manifold possibilities. The work in many ways belongs to the theatre with its black box setting.
                And it owes probably more to work of Samuel Beckett than anyone else. At its strange heart the piece is a writing automaton. It chooses
                what the algorithms decide for it against the carefully calculated script.</p>
            <p>The situation is absurd. John and Jake talk about a woman they share
                called Jane. Both, more than coincidentally, are married to a woman called Jill. The men exhibit no rivalry whatsoever over Jane. They know she belongs to everyone and no
                one. Jane is simultaneously a daydream and a nightmare.
                Shape-shifter extraordinaire, she is the constantly mutating remainder of male desire. Whatever men
                crave and fear in the female sex, Jane
                exemplifies and amplifies. Jane herself knows full well that she is the empty heart of desire for she is the absence that gives birth to desire itself.
                 In a very concrete sense, Jane could only be expressed in something as fluid
                and pliable as the work that takes her name.   </p>

            <p>
                John and Jake too are rather ambivalent. They can be read as individuals or the same person separated by
                the attrition of time. Taken as
                individuals, John is the older, more jaundiced and stoic of the pair. He is also probably happier or at
                least more accepting of his marriage and its inevitable
                compromises. Jake is the more idealistic and yet the more troubled too. He bears the burden of a sexual
                ambiguity both in himself and the troubled relation
                his wife has with her father. Originally I had in fact planned a companion piece called 'James' where
                the wives called Jill would similarly fantasize and fear. There I was also entertaining the possibility
                of the intriguing male to female interweavings that could ensue.</p>

            <p>'Jane' is also about itself or rather the types of story that something like 'Jane' can tell. I tried to
                get the most out of the
                line by line granularity of change by investing the alternatives with as much narrative content as they
                could hold. One way was to use the
                well known films in the conversation 'Old Films, New Endings' and thereby leverage, extend and subvert
                narratives already known
                by many. The conversation 'Bedtime Stories' does much the same, and harkens back to our childhood need
                for night time
                narrative that like cinema unfolds itself in the dark. In 'Filmic Fantasies', I evoke actors throughout
                and use their names to conjure the clouds of narrative
                allusion associated with each. And then there is Jane. Of her occupation we know that it was once
                something cinematic: director, actress,
                editor, and auteur.</p>
                <p>In other interactive stories that are varieties of choose-your-own-adventure, the main narrative branches at key decision points. Progression then leads to a normally limited set
                    of outcomes. I eschew this approach and use instead variants that have localized polyvalence.  This creates a cumulative field of multiplying nuance where
                 one change can directly or indirectly affect the rest.  Alternatively, I also allow for the absence of any interaction like you normally would  expect in the passively received medium of film. You can simply auto-generate a film
                and play it without changing a single line or camera angle; you can dictate the script or be dictated to.
                </p>
            <p>
                   All this does mean that the narratives I produce are less directed than other approaches. The films you see in 'Jane' are therefore more like vignettes than conventional stories that end in a tidy little knot.
                They are the equivalents of the groundhog day conversations we engage in daily with others or ourselves and upon which we gently improvise in a meagre exercise of will.
               </p>
            <p class="headline" style="font-size: 2.2rem">Structure</p>
            <p>The definite structure to Jane amounts to a rudimentary generative logic behind it. The characters converse about films, TV, cooking, farting in restaurants, film actors and actresses, and bedtime stories in the course of six conversations.
                Each conversation has three parts which have one of three
                keywords spoken at the beginning after a pause that varies in length and content.
                These keywords are 'last night', 'tonight' and 'fantasy'. Each conversation begins with either Jake or John speaking one of the keywords. The resulting six
                conversations got titles you now see much later. In
                the initial script, I wrote the following conversations in this order:</p>
            </br>

            <table>
                <tr>
                    <td style="color: #183691">Last Night Jake</td>
                    <td>Old Films, New Endings</td>
                </tr>
                <tr>
                    <td style="color: #183691">Last Night John</td>
                    <td>Bedtime Stories</td>
                </tr>
                <tr>
                    <td style="color: #183691">Fantasy Jake</td>
                    <td>Married Too Long</td>
                </tr>
                <tr>
                    <td style="color: #183691">Fantasy John</td>
                    <td>Sexual Conundrum</td>
                </tr>
                <tr>
                    <td style="color: #183691">Tonight Jake</td>
                    <td>Eat In Eat Out</td>
                </tr>
                <tr>
                    <td style="color: #183691">Tonight John</td>
                    <td>Filmic Fantasies</td>
                </tr>
            </table>
           

            </br>



            <p>For the record, here are all sixteen parts that 'Jane' is made of with a descriptive summary of their
                contents:
            </p>
            </br>
            <div style="border:1px solid #4183c4; display:inline-block">
            <table align="center">
                <tr style="background-color:#ebf5ff;">
                    <td colspan="2" class="headline">Old Films, New Endings</td>
                </tr>
                <tr>
                    <td style="color: #183691">last night</td>
                    <td>John watched a film on TV last night.</td>
                </tr>
                <tr>
                    <td style="color: #183691">fantasy</td>
                    <td>John makes up different endings to the film he watched.</td>
            <tr>
                <td style="color: #183691">tonight</td>
                <td>Jane recommends an interesting film.</td>
            </tr>
            <tr style="background-color:#ebf5ff;">
                <td colspan="2" class="headline">Bedtime Stories</td>
            </tr>
            <tr>
                <td style="color: #183691">last night</td>
                <td>Jake's wife tells him bedtime stories under certain circumstances.</td>
            </tr>
            <tr>
                <td style="color: #183691">tonight</td>
                <td>Jake describes the kind of bedtime stories his wife tells him.</td>
            </tr>
            <tr>
                <td style="color: #183691">fantasy</td>
                <td>The kind of stories that Jane tells.</td>
            </tr>

            <tr style="background-color:#ebf5ff;">
                <td colspan="2" class="headline">Married Too Long</td>
            </tr>
            <tr>
                <td style="color: #183691">fantasy</td>
                <td>John talks about the dream life he would like to lead.</td>
            </tr>
            <tr>
                <td style="color: #183691">last night</td>
                <td>John has an argument with his wife.</td>
            </tr>
            <tr>
                <td style="color: #183691">tonight</td>
                <td>John resolves to work things out with his wife.</td>
            </tr>

            <tr style="background-color:#ebf5ff;">
                <td colspan="2" class="headline">Sexual Conundrum</td>
            </tr>
            <tr>
                <td style="color: #183691">fantasy</td>
                <td>While John is jealous of Jake's married life, Jake is not so sure why.</td>
            </tr>
            <tr>
                <td style="color: #183691">tonight</td>
                <td>Jane, her gay entourage and Jake's sexuality.</td>
            </tr>
            <tr>
                <td style="color: #183691">last night</td>
                <td>Jake seeks a solution to his double life with Jane and his wife.</td>
            </tr>

            <tr style="background-color:#ebf5ff;">
                <td colspan="2" class="headline">Eat in Eat Out</td>
            </tr>
            <tr>
                <td style="color: #183691">tonight</td>
                <td>Jake has dinner cooked for him again tonight.</td>
            </tr>
            <tr>
                <td style="color: #183691">fantasy</td>
                <td>John warns Jake about the perils of kitchen politics.</td>
            </tr>
            <tr>
                <td style="color: #183691">last night</td>
                <td>Farting and going to restaurants with Jane.</td>
            </tr>

            <tr style="background-color:#ebf5ff;">
                <td colspan="2" class="headline">Filmic Fantasies</td>
            </tr>
            <tr>
                <td style="color: #183691">tonight</td>
                <td>John watches TV with his wife in silence, while Jake talks with his.</td>
            </tr>
            <tr>
                <td style="color: #183691">fantasy</td>
                <td>John observes his wife's televisual fantasy. Jake cannot talk to Jane.</td>
            </tr>
            <tr>
                <td style="color: #183691">last night</td>
                <td>John's wife calls out for another man and the allure of screen sirens.</td>
            </tr>
            </table>
            </div>
            <p></p>
            </br>
            <p>
                There are different types of line variation in 'Jane'. The basic ones are:
            </p>
            </br>
            <h4 class="headline">Default</h4>

            <p>These are lines that are fixed in dialogue content affording as elsewhere only a change in
                camera angle. They are like anchors of stability in the overall flux surrounding them.</p>
            </br>

            <div><img class="image-text" src="images/default.png"></div>
            <div class="default-text" style="font-size:1.4rem;">Default from 'Eat in Eat Out' : tonight</div>
            </br>

            <h4 class="headline">Free</h4>

            <p>This is a group of single lines from which one can be chosen without other lines in the script
                changing.</p>
            </br>

            <div><img class="image-text" src="images/free.png"></div>
            <div class="default-text" style="font-size:1.4rem;">Free from 'Married Too Long' : fantasy</div>
            </br>

            <h4 class="headline">Parent</h4>

            <p>This is a group of groups. Parent alternatives can have different types of children such as free, and
                compound.
                Line selection in a child becomes the selection for the parent.</p>
            </br>
            <div><img class="image-text" src="images/parent.png"></div>
            <div class="default-text" style="font-size:1.4rem;">Parent from 'Eat in Eat Out' : last night</div>
            </br>

            <h4 class="headline">Compound</h4>

            <p> This is a default line followed by a group of free alternatives and are found most commonly in parents.
                When outside a
                parent it is simply a default followed by a free on the top-level of the script.</p>

            </br>

            <div><img class="image-text" src="images/compound.png"></div>
            <div class="default-text" style="font-size:1.4rem;">Compound from 'Old Films New Endings' : tonight</div>
            </br>

            <h4 class="headline">Paired</h4>
            <p>In paired varieties of free and parent, two or more groups of lines are linked. Changing a selection in
                one of the groups changes
                the corresponding choice in the other linked groups. Pair groups normally have the same number of
                options so choosing for example the third option will
                change all the other third placed options. Free groups can pair with parents and vice versa.</p>

            </br>

            <div><img class="image-text" src="images/paired.png"></div>
             <div class="default-text" style="font-size:1.4rem;">Paired from 'Bedtime Stories' : last night</div>
            </br>
            <h4 class="headline">Sequence sets</h4>

            <p>A sequence group consists of a library of source material. Different selections from the library are
                divided into different categories, or
                parent groups to aide algorithmic or user selection.
                The variable pause that starts each keyword section is such a sequence group. Here there is a library of
                shots belonging to the pause.
                I then chose the various viable combinations of these and put them into categories or sets based on
                their duration - short, medium or long.
            </p>
            </br>

            <div><img class="image-text" src="images/pause.png"></div>
            <div class="default-text" style="font-size:1.4rem;">Sequence set from 'Old Films New Endings : last night</div>
            </br>
            <h4 class="headline">Loop</h4>
            <p>This form of dialogue design is somewhat separate from the rest of Jane as it constitutes a self-enclosed unit of interaction
                quite unto itself. There is only one loop in 'Jane' and the last conversation 'Filmic Fantasies' ends with it.
                </p>
                <p>A loop here means a self-contained sequence of lines that can be spoken by either actor. Change the speaker of one line and the rest of the lines
                also change for the other. Here the role reversal seen in disparate lines elsewhere is given centre ground and made entirely explicit.
                The exchange begins with John and Jake playing ping-pong with actress names. They have have 10 screen sirens apiece to choose from.
                There is an minimum of two such selections between them up to a maximum of six. The subsequent lines can be performed by either actor depending on
                who finishes the name exchange. The remaining five lines in the loop have identical content for both characters. Changing the line or action from John to Jake or vice versa changes the
                    ownership of the other lines throughout the loop. In the end either
                John or Jake recovers from either crying or hysterical laughter.</p>
            </br>
            <div><img class="image-text" src="images/loop3.png"></div>
            <div class="default-text" style="font-size:1.4rem;">Loop from 'Filmic Fantasies' : last night</div>
            </br>
            <p class="headline" style="font-size: 2.2rem">Presentation Layer</p>
            <p>By the presentation layer, I mean the visual variation made in the presentation of choices. In my previous work, 'Hackney Girl' (2003) this was
            achieved through the random placement of clips on a three by three grid. In 'Jane' this function is carried by the
            ability to choose from different camera angles.</p>
            <p>These are either near or far. There are in fact two types of near camera angles per actor: over the shoulder
             of the other, and a tighter head shot. This allows a user to choose two close-ups for a protagonist in adjacent lines. Likewise there
             are three wide shots where both actors are visible: one angled towards John, another towards Jake, and one straight ahead
            <p>Incidentally, due to the perils of tapeless digital media, some occasional stray shots are missing their alternate angle.  Here are the complete set from which you can
                   see that you can feasibly cut from one to any other:</p>
            </br>
            <div class="container-fluid col-lg-6">
                <div class="row">
                    <div class="col-lg-12"><img class="stills" src="images/co.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Tight close-up on Colin Mace as John</div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><img src="images/ca.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Tight close-up on Paul Downey as Jake</div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><img class="stills" src="images/2s.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Straight-on two shot</div>
                </div>
                <!--<div class="row">
                    <div class="col-lg-12"><img class="stills" src="images/2a.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Two shot on Paul Downey as Jake</div>
                </div>-->
            </div>
            <div class="container-fluid col-lg-6">
                <div class="row">
                    <div class="col-lg-12"><img class="stills" src="images/cn.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Over-shoulder close-up on Colin Mace as John</div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><img class="stills" src="images/ce.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Over-shoulder close-up on Paul Downey as Jake</div>
                </div>
                <div class="row">
                    <div class="col-lg-12"><img class="stills" src="images/2o.png"></div>
                </div>
                <div class="row">
                    <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Two shot on Colin Mace as John</div>
                </div>

            </div>
            <div class="row" style="padding-left: 15px">
                <div class="col-lg-12"><img class="stills" src="images/2a.png"></div>
            </div>
            <div class="row" style="padding-left: 15px">
                <div class="default-text col-lg-12" style="font-size:1.6rem;padding-bottom: 20px; margin-left: 15px">Two shot on Paul Downey as Jake</div>
            </div>
            <p></p>
            <p class="headline">Narrative Templates</p>
            <p>'Jane' is a demonstration that something semantically cogent can be made from the kind of rules I have outlined here.
                You could for example quite easily concoct something with more sumptuous variety
                in its visual appeal. My means were rather limited and I had to use the most restricted palette possible. Despite this, there is still perhaps nothing more
                interesting than filming a human face.
                </p>
                <p>
                Nor do these rules eliminate the need for a well crafted script. Rather, they provide a new form for scripts to take.
                    Here the overall scheme or master concept for the work sets the scene, and is probably
                    the hardest thing to do. After that, the algorithms of selection
                are like templated froms that be strung together to form something coherent.  The creative act of multi-levelled writing is an oddly exhilarating one.
                You feel both attached and committed to each possible world you can affect.</p>
        </div>

    </div>

</div>