<ctoria-control title={{title}} generated={{generated}}></ctoria-control>
<div ng-controller="VideoCtrl as controller" class="videogular-container">
   <!-- <ctoria-control title={{title}} generated={{generated}}></ctoria-control>-->
    <videogular vg-theme="controller.config.theme" vg-player-ready="controller.onPlayerReady($API)">
        <vg-media vg-src="controller.config.sources">
        </vg-media>

        <vg-controls ng-show="movieGenerated()">
            <vg-play-pause-button ></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play ng-show="movieGenerated()" title={{title}}></vg-overlay-play>
        <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        <vg-buffering></vg-buffering>
    </videogular>
</div>
<div class="scriptbox" style="background-color: #333">
    <div id="script"  class="container-fluid" style="margin-left: auto; margin-right: auto; padding-left:0px;padding-right:0px"> <!--class="container=fluid"-->
        <div ng-repeat="cut in content()">
                    <span ng-switch="cut.type">
                        <ctoria-free ng-switch-when="ALTERNATIVE_FREE" cut="cut"></ctoria-free>
                        <ctoria-free ng-switch-when="WEEKDAY" cut="cut" data-db-id="0"
                                     selected="0"></ctoria-free>
                        <ctoria-default ng-switch-when="DEFAULT" cut="cut"></ctoria-default>
                        <ctoria-seq-set ng-switch-when="SEQUENCE_SET" cut="cut"></ctoria-seq-set>
                        <ctoria-paired-free ng-switch-when="ALTERNATIVE_PAIRED" cut="cut"
                                            data-db-id="0" data-selected-position="0"></ctoria-paired-free>
                        <ctoria-parent ng-switch-when="ALTERNATIVE_PARENT" cut="cut"
                                       data-selected-position="0" data-selected-child="-1"></ctoria-parent>
                        <ctoria-paired-parent ng-switch-when="ALTERNATIVE_PAIRED_PARENT" cut="cut"
                                              data-selected-position="0" data-selected-child="-1"></ctoria-paired-parent>
                        <ctoria-paired-nested ng-switch-when="ALTERNATIVE_NESTED" cut="cut"
                                              data-selected-position="0" data-selected-child="-1"></ctoria-paired-nested>
                        <ctoria-loop ng-switch-when="ALTERNATIVE_LOOP" cut="cut"></ctoria-loop>
                        <ctoria-speaker ng-switch-when="ALTERNATIVE_SPEAKER" cut="cut"></ctoria-speaker>
                    </span>
        </div>
    </div>
</div>
<div style="height:20px"></div>

