<div id=row_alt_{{index}}_child_{{cut.position}} class="row" >
    <div class="col-xs-2 col-md-1" style="background-color: #333"></div>
    <div class="col-xs-7 col-md-9 seqtyperow" style="padding: 0px">
        <button id=alt_{{index}}_child_{{cut.position}}
                class="placementbtn btn-block" data-file="0"
                ng-click="fold(index + '_child_' + cut.position)"
                style="padding-left: 12px;padding-top: 10px; padding-bottom:8px">{{cut.default.line}}
        </button>
    </div>
    <div id=alt_icon_{{index}}_child_{{cut.position}} class="col-xs-1 col-md-1 caret-centre seqtyperow"
         style="padding-bottom: 7px;background-color:#fbfdff">
        <i class="fa fa-chevron-right caret-centre"></i>
    </div>
    <div class="col-xs-2 col-md-1" style="background-color: #333"></div>
</div>

<div id=collapse_{{index}}_child_{{cut.position}} collapse="true">
    <div class="row" ng-repeat="option in cut.options">

        <button id={{index}}_child_{{cut.position}}_opt_{{option.position}} data-position='{{option.position}}'
                ng-click="optionClick(index + '_child_' +  cut.position +'_opt_'+ option.position, index)"
                data-option-id='{{option.id}}' class="btn col-xs-9 col-md-9 optionbtn"
                 style="left:12%">{{option.line}}</button>

    </div>
</div>

