<div id="videoContainer">
    <!-- Video -->
    <video id="videoPlayer" width="960" height="540" autoplay controls>
        <source src="output.mp4" type="video/mp4">
       <!-- <source src="videos/mikethefrog.webm" type="video/webm">
        <source src="videos/mikethefrog.ogv" type="video/ogv">
            Your browser doesn't support MP4 HTML5 video.
            <a href="{{file}}">Download</a> the video instead.-->

    </video>
</div>
