<div id=row_{{cut.index}} data-file="0" data-ctoria-type="ALTERNATIVE_PARENT">
    <div id=choicerow_{{cut.index}} class="row" style="background-color: #fbfdff;border-left: 1px solid #c6c7d2;margin-right:0px;margin-left:0px;padding-top:8px; padding-bottom: 5px">
        <div id="speakerContent" speaker-cut-id={{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 speakertxt" >
            {{cut.index | speaker}}
        </div>
        <div id="textContent" class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
            <button data-cut-id={{cut.index}} class="placementbtn btn-block"
                    ng-click="fold(cut.index)">
                parent alt {{cut.index}}
            </button>
        </div>
        <div id=icon_{{cut.index}} class="col-xs-1 col-sm-1 col-md-1  col-lg-1">
            <i class="fa fa-chevron-right  caret-centre" style="padding-left: 12px"></i>
        </div>
        <div id="cameraContent" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <span>
                <button id=camera_{{cut.index}} ng-click="cameraToggle()" class="camerabtn" data-camera="">near</button>
            </span>
        </div>
    </div>

    <div id=selrow_{{cut.index}} ng-show="selChosen()" class="row" style="background-color: #fbfdff;margin-left:0px;margin-right:0px;border-left: 1px solid #c6c7d2;">
        <div id="speakerContent2" class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="padding-top: 5px"></div>
        <div id="textContent2" class="col-xs-9 col-sm-10 col-md-10 col-lg-10 childoption"
             data-cut-id=sel_{{cut.index}} data-selected-position="0">free alt {{cut.index}}
        </div>
        <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
        <div id="cameraContent2" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
            <span><button id=selcamera_{{cut.index}} ng-click="cameraToggle()" class="camerabtn"
                          data-camera="">near
            </button></span>
        </div>
    </div>
</div>


<div id=collapse_{{cut.index}} collapse="true" class="row">
    <div ng-repeat="child in cut.children">
        <span ng-switch="child.type">
                    <ctoria-child-free ng-switch-when="ALTERNATIVE_FREE" cut="child" index="cut.index"
                                       child-index="child.position" selected="0"></ctoria-child-free>
                    <ctoria-child-compound ng-switch-when="ALTERNATIVE_COMPOUND" cut="child" index="cut.index"
                                           child-index="child.position" selected="0"></ctoria-child-compound>
                    <ctoria-child-double ng-switch-when="ALTERNATIVE_DOUBLE" cut="child" index="cut.index"
                                           child-index="child.position" selected="0"></ctoria-child-double>
        </span>
    </div>
</div>