<div id=row_{{index}}_child_{{cut.position}} class="row" style="background-color: #333;overflow: hidden">
    <div class="col-xs-9 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1 seqtyperow" style="padding: 0;">
        <button data-cut-id={{index}}_child_{{cut.position}} data-selected-option="0"
                class="placementbtn btn-block"
                ng-click="fold(index + '_child_' + cut.position)"
                style="padding-left: 12px;padding-top: 10px; padding-bottom:8px">free alt {{$parent.cut.index}}
        </button>
    </div>
    <div id=icon_{{index}}_child_{{cut.position}} class="col-xs-1 col-md-1 iconbg" >
        <i class="fa fa-chevron-right caret-centre"></i>
    </div>
</div>

<div id=collapse_{{index}}_child_{{cut.position}} collapse="true" class="row">
    <button id={{index}}_child_{{cut.position}}_opt_{{option.position}} data-position='{{option.position}}'
            ng-click="optionClick(index + '_child_' + cut.position + '_opt_'+ option.position)"
            class="btn col-xs-9 col-md-9 optionbtn"
            ng-repeat="option in cut.options" style="left:12%;padding-left: 12px;">
        {{option.line}}
    </button>
</div>

