<nav class="controlbox navbar navbar-default navbar-fixed-top" style="background-color: #fafaff;padding-bottom: 0px">
    <div class="container-fluid">
        <div class="navbar-header" style="height: 40px">
            <div id="mainMenuButton" class="btn navbar-toggle pull-left" data-toggle="collapse" data-target="#mainMenu"
                 style="padding:0px;margin-bottom:0px;border: none; background: none;top:-5px">
                <i class="btn fa fa-bars script-title" ng-click="conversationMenuClick()"></i>
            </div>
            <p id="ian" class="default-text" style="margin-right: 25px; padding-top: 15px;font-size:1.8rem; padding-left:0px">ianflitman.com</p>
        </div>
        <div id="conversationMenu" class="btn pull-right default-text"
                 style="padding:0px;margin-bottom:0px;border: none; background: none;position:absolute;top:2px;right:20px;height:30px;font-size: 2.2rem">
            <a ng-click="conversationMenuClick()" class="btn" ng-show="showConversations()" style="font-size: 2.2rem;color:#a71d5d;">conversations&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-plus-square fa-lg"></span></a>
        </div>

        <div id="mainMenu" class="navbar-collapse collapse pull-left" style="font-size: 2.2rem;height: 40px;">
            <ul class="nav navbar-nav pull-left">
                <li id="me"><a class="nav" ng-click="goPage('/me')">About me</a></li>
                <li id="works" class="dropdown" ng-click="dropdownActive('works')" ><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Works <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="people"><a class="nav btn" ng-click="goPage('/people')" style="font-size: 2.0rem;height: 40px;">The People (2010)</a> </li>
                        <li id="hackney"><a class="nav btn" ng-click="goPage('/hackney')" style="font-size: 2.0rem;height: 40px;">Hackney Girl (2003)</a> </li>

                    </ul>
                </li>
                <li id="jane_structure"><a class="nav" ng-click="goPage('/jane_structure')">About Jane</a></li>
                <li id="intro"><a class="nav" ng-click="goPage('/intro')">Intro</a></li>
                <li id="script"><a class="nav" ng-click="goPage('/jane')">Jane</a></li>
            </ul>
        </div>

        <div id="menuConversation" style="display:none; position: relative">
            <div class="row pull-right" style="background-color: #ffffff; position: absolute; top:0px;z-index: 5; right: 40px">
                <div class="btn-group-vertical" style="border-style:solid; border-width: 1px; border-color: #333">
                    <button id="ofne" type="button" class="btn default-text conversation-btn"
                            ng-click="changeConversation('ofne')" style="font-size:2.2rem">Old Films New Endings
                    </button>
                    <button id="bs" type="button" class="btn default-larger conversation-btn"
                            ng-click="changeConversation('bs')" style="font-size:2.2rem">
                        Bedtime Stories
                    </button>
                    <button id="mtl" type="button" class="btn default-text conversation-btn"
                            ng-click="changeConversation('mtl')" style="font-size:2.2rem">Married Too Long
                    </button>
                    <button id="sc" type="button" class="btn default-text conversation-btn" ng-click="changeConversation('sc')"
                            style="font-size:2.2rem">
                        Sexual Conundrum
                    </button>
                    <button id="eieo" type="button" class="btn default-text conversation-btn"
                            ng-click="changeConversation('eieo')" style="font-size:2.2rem">Eat in Eat out
                    </button>
                    <button id="ff" type="button" class="btn default-text conversation-btn" ng-click="changeConversation('ff')"
                            style="font-size:2.2rem">
                        Filmic Fantasies
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>