<div id=row_{{cut.index}} class="row" data-file="0" data-ctoria-type="DEFAULT"
     style="background-color:#ebf5ff;border-left: 1px solid #c6c7d2;margin-left:0px;margin-right:0px"> <!--#fbf6ff-->
    <div id="speakerContent" speaker-cut-id={{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 speakertxt" style="padding-top: 8px">{{cut.index |
        speaker}}
    </div>
    <div id="textContent" class="col-xs-9 col-sm-10 col-md-10 col-lg=10">
        <p data-cut-id={{cut.index}} class="default-text">{{cut.line}}</p>
    </div>
    <div id="cameraContent" class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
        <button id=camera_{{cut.index}} class="camerabtn" style="margin-top: 6px">
            {{cut.sources[0].file | camera}}
        </button>
    </div>
</div>

