<div id=row_{{cut.index}} class="row" data-file="0" ng-click="fold(cut.index)"
     style="background-color: #fbfdff;margin-left:0px;margin-right:0px;border-left: 1px solid #c6c7d2">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div id="textContent" class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
        <button data-cut-id={{cut.index}} data-selected-position="0"
                class="placementbtn btn-block">Pause {{cut.index}}
        </button>
    </div>
    <div id=icon_{{cut.index}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <i class="fa fa-chevron-right caret-centre" ng-click="fold(cut.index)" style="padding-left: 12px"></i>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"></div>
</div>
<div class="row" style="background-color: #fbfdff">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div id="textContent2" class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <p camera-cut-id={{cut.index}} class="default-text" style="padding-left: 12px"></p>
    </div>
</div>

<div id=collapse_{{cut.index}} collapse="true" >
    <div ng-repeat="set in cut.sets">
        <div id=row_{{cut.index}}_seq_{{set.name}} class="row" >
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background-color: #333;"></div>
            <div set-cut-id={{cut.index}}_seq_{{set.name}} class="col-xs-9 col-sm-9 col-md-9 col-lg-9 seqtyperow" style="background-color: #fbfdff;">
                <button data-selected-position="0"
                        class="placementbtn btn-block"
                        ng-click="foldSeq(set.name)">{{set.name | uppercasePause}}
                </button>
            </div>
            <div id=icon_{{cut.index}}_seq_{{set.name}} class="col-xs-1 col-sm-1 col-md-1 col-lg-1 seqtyperow" style="background-color: #fbfdff;padding-bottom: 7px"><i
                    class="fa fa-chevron-right caret-centre"></i>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1" style="background-color: #333;"></div>
        </div>

        <div id=collapse_{{cut.index}}_seq_{{set.name}} class="row" collapse="true">
            <div ng-repeat="seq in set.seqs">
                <button id={{cut.index}}_{{set.name}}_{{$index}} set-name="{{set.name | uppercasePause}}"
                        data-file="{{seq | dbIds}}"
                        data-duration="{{(seq | seqCamera).duration}}" class="btn col-xs-9 optionbtn"
                        ng-click="pauseClick(set.name, $index)" style="left:13%">
                    {{(seq | seqCamera).camera}}
                </button>
            </div>
        </div>
    </div>
   </div>
